:root {
  --main-color: #ffc500;
  --container-border-radius: 6px;
}

.container_shadow {
  box-shadow: "0px 2px 92px 0px rgba(0, 0, 0, 0,13)";
  -webkit-box-shadow: "0px 2px 92px 0px rgba(0, 0, 0, 0,13)";
  -moz-box-shadow: "0px 2px 92px 0px rgba(0, 0, 0, 0,13)";
}

.main_content {
  background-color: #fff;
  min-height: 100vh;
  border-radius: var(--container-border-radius);
  margin-bottom: 20px;
  padding: 20px;
}

.section {
  margin-bottom: 30px;
}

.section_title_container {
  position: relative;
  display: inline-block;
  padding: 0 3px;
  margin-bottom: 20px !important;
}